.machine{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;      
    align-items: center;
    width: 100%;
    background-color: #494949;
    background-image: linear-gradient(135deg, #494949 0%, #5a5a5a 18%, #6f6c6c 50%, #626060 91%);
        
    
    h1{
        font-size: 50px;
        color: white;

        span{
            color: rgb(238, 14, 14);
        }
    }

    ul{
        // color: #e2dcdc;
        color: white;
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        Button {
            width: 300px;
            height: 190px;
            border-radius: 20px;
            border: 1px solid #e2dcdc;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: whitesmoke;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            &:hover{
                background-color: rgb(209, 46, 46);
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }

        .item{
            // width: 300px;
            // height: 190px;
            // border-radius: 20px;
            // border: 1px solid #e2dcdc;
            // margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #131212;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            h3{
                color: rgb(70, 68, 68);
                position: absolute;
                font-size: 20px;
            }

            // &:hover{
            //     background-color: blue;
            //     img{
            //         opacity: 0.2;
            //         z-index: 0;
            //     }
            // }
        }
    }
}