.app {
  height: 100vh;
  // width: 200vh;
  background-color: rgb(221, 22, 22);
  // position: fixed;

  .sections{
      // width: 200vh;
      height: 100vh;
      background-color: rgb(48, 47, 46);
      position: relative;
      top: 70px;
      // scroll-behavior: smooth;
      // scroll-snap-type: y mandatory;
      // scrollbar-width: none; // for Firefox
      // &::-webkit-scrollbar{
      //     display: none; // all other browsers
      // }

      > *{
        width: 100vw;
        height: calc(100vh - 70px);
        // scroll-snap-align: start;
    }
  }
}
