// p {
//   color: rgb(70, 68, 68);
//   font-weight: 700;
//   background-color: rgba(221, 22, 22, 0.849);
// }
.container {
  background-color: rgb(70, 68, 68);

  // .background {
  //   width: 100%;
  //   height: 100%;
  //   background: greenyellow;
  //   position: fixed;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  .item {
    width: 500px;
    height: 400px;
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.2);
    background: rgba(209, 46, 46, 0.97);
    color: #000;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 10px;

    // .modalContent {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   line-height: 1.8;
    //   color: #141414;

    h2 {
      margin: auto;
      width: 20%;
      padding: 25px;
    }

    p {
      margin: auto;
      width: 40%;
      margin-bottom: .5rem;
      color: rgb(70, 68, 68);
      font-weight: 700;
      font-size: large;
      padding: 5px;
    }

    // button {
    //   padding: 10px 24px;
    //   background: #141414;
    //   color: rgb(3, 3, 3);
    //   border: none;
    // }

  }
}

// }

// }